.widget--nest
{
    width: 100%;
    color: $color-font;
    background: $color-grad-two;

    .widget--front
    {
        padding: 0;
    }
}

.widget--nest .nest
{
    width: 50%;
    float: left;
    text-align: center;
    padding: $padding-default; 

    &.nest--target-cool .nest--temp-type
    {
        color: #0850E6;
    }

    .nest--location
    {
        font-size: 14px;
        font-weight: 100;
        color: $color-font;
        text-transform: uppercase;
    }

    .nest--temp-type
    {
        font-weight: 300;
        text-transform: uppercase;
    }

    .nest--temp-target
    {
        font-weight: 100;
        font-size: 24px;
        margin: 20px 0 20px 0;
    }
}


@media (min-width: $screen-lg-width)
{
    .widget--nest .nest
    {
        .nest--location
        {
            font-size: 16px;
        }

        .nest--temp-target
        {
            font-size: 36px;
        }
    }
}