.widget--nest
{
    width: 100%;
    min-height: 135px;
    color: $color-font;
    background: $color-grad-two;

    .widget--front
    {
        padding: 0;
    }
}

.widget--nest .nest
{
    width: 50%;
    float: left;
    text-align: center;
    padding: $padding-default; 

    &.nest--target-cool .nest--temp-type
    {
        color: #0850E6;
    }

    .nest--location
    {
        font-weight: 700;
        color: $color-font;
    }

    .nest--temp-type
    {
        font-weight: 300;
        text-transform: uppercase;
    }

    .nest--temp-target
    {
        font-size: 24px;
        margin: 10px 0 10px 0;
    }
}

