$tile-height: 250px;

.widget--weather
{
    background: $color-grad-one;
    height: $tile-height;
    color: $color-font;
    overflow: hidden;

    .widget--front,
    .widget--back
    {
        height: $tile-height;
        @include transition(transform 600ms cubic-bezier(1, 0, 0, 1));
    }

    .widget--front
    {
        .temperature
        {
            position: absolute;
            top: $padding-default;
            left: $padding-default;
            font-weight: 100;
            font-size: 52px;
            line-height: 52px;
        }

        .icon
        {
            position: absolute;
            top: $padding-default;
            right: $padding-default;
        }

        .conditions
        {
            position: absolute;
            bottom: $padding-default;
            right: $padding-default;
        }
    }

    .widget--back
    {
        font-size: 13px;
        color: $color-font;
        top: $tile-height;
        opacity: 1;
        visibility: visible;

        .daily
        {
            width: 33%;
            text-align: center;
            float: left;
            @include pie-clearfix;
        }   

        .day
        {
            text-transform: uppercase;
        }     

        .icon
        {
            margin: $padding-default 0 $padding-default 0;
        }

        .temperature
        {
            font-weight: 100;
            font-size: 24px;
        }
    }

    .widget--swap
    {
        -webkit-transform: translate(0, -$tile-height);
    }

    .hourly
    {
        margin-bottom: 15px;
    }

    strong
    {
        font-weight: 500;
    }
}

@media (min-width: $screen-lg-width)
{
    $tile-height: 260px;

    .widget--weather
    {
        height: $tile-height;

        .widget--front,
        .widget--back
        {
            height: $tile-height;
        }

        .widget--front
        {
            .temperature
            {
                font-size: 82px;
                letter-spacing: -2px;
            }
        }

        .widget--back
        {
            font-size: 16px;
            top: $tile-height;

            .temperature
            {
                font-size: 36px;
                letter-spacing: -2px;
            }
        }

        .widget--swap
        {
            -webkit-transform: translate(0, -$tile-height);
        }
    }
}