<div class="widget--front">
    <div class="temperature">
        <%= Math.round(weather.get('currently').temperature) %><sup>&deg;</sup>
    </div>
    <div class="icon">
        <canvas id="weather-icon" class="icon--canvas" width="100" height="100"></canvas>
    </div>
    <div class="conditions">
        <%= weather.get('minutely').summary %>
    </div>
</div>
<div class="widget--back">
    <div class="forecast">
        <% _.each(weather.get('daily').data, function(daily, key) { %>
            <% var day = moment.unix(daily.time).format("dddd"); %>
                <% if (key > 0 && key <= 3) { %>
                    <div class="daily">
                        <div class="day"><%= day %></div>
                        <div class="icon"><canvas id="weather-forecast-<%= key %>" class="icon--canvas" width="75" height="75"></canvas></div>
                        <div class="temperature"><%= Math.round(daily.temperatureMax) %>&deg;</div>
                    </div>
                <% } %>
        <% }); %>
    </div>
</div>