<div class="widget--front">
    <div class="temperature">
        <%= Math.round(weather.get('currently').temperature) %><sup>&deg;</sup>
    </div>
    <div class="conditions">
        <%= weather.get('minutely').summary %>
    </div>
</div>
<div class="widget--back">
    <div class="forecast">
        <div class="hourly">
            <h2>Later</h2>
            <span class="small"><%= weather.get('hourly').summary %></span>
        </div>
        <div class="daily">
            <h2>This Week</h2>
            <span class="small"><%= weather.get('daily').summary %></span>
        </div>
    </div>
</div>